{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="jumbotron text-center">
  <h1>Bienvenido</h1>
  <p>Estás en el lugar adecuado</p>
  <form>
    <!-- <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="Email Address" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Subscribe</button>
      </div>
    </div> -->
  </form>
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
  <div class="row">
    <div class="col-sm-8">
      <h2>Acerca de nosotros</h2><br>
      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h4><br>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <br><!--<button class="btn btn-default btn-lg">Get in Touch</button>-->
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-signal logo"></span>
    </div>
  </div>
</div>

<!-- Container (Playlist Section) -->
<div id="playlist" class="container-fluid bg-grey">
  <h2 class="text-center">CONTACT</h2>
  <form action="{% url 'landing:add_playlist' %}" method="POST">
    {% csrf_token %}
    {{ form.errors }}  
  <div class="row">
    <div class="col-sm-12 slideanim">
      <div class="row">
        <div class="form-group col-sm-5">
          <label>Nombre</label>
        {{playlist.nombre}}
        </div>
        <div class="form-group col-sm-5">
          <label>Agregar</label>
          {{playlist.playlist_recurso}}
        </div>
      </div>
       <div class="row">
        <div class="col-sm-10 form-group">
          <button class="btn btn-default pull-right" type="submit">Guardar</button>
        </div>
      </div>
<br><br><br><br><br><br>
    </div>
  </div>
  </form>
</div>

<!-- Container (Recurso Section) -->
<div id="recurso" class="container-fluid">
<h2 class="text-center">CONTACT</h2>
  <form action="{% url 'landing:add_recurso' %}" method="POST">
    {% csrf_token %}
  <div class="row">
    <div class="col-sm-12 slideanim">
      <div class="row">
        <div class="form-group col-sm-5">
          <label>Titulo</label>
        {{recurso.titulo}}
        </div>
        <div class="form-group col-sm-5">
          <label>Lenguaje</label>
        {{recurso.lenguaje}}
        </div>
        <div class="form-group col-sm-5">
          <label>Tipo</label>
        {{recurso.tipo}}
        </div>
        <div class="form-group col-sm-5">
          <label>Nivel</label>
        {{recurso.nivel}}
        </div>
        <div class="form-group col-sm-5">
          <label>Me gusta</label>
        {{recurso.es_favorito}}
        </div>
        
        
        <div class="form-group col-sm-5">
          <label>Url</label>
          {{recurso.url}}
        </div>
      </div>
       <div class="row">
        <div class="form-group col-sm-10">
          <button class="btn btn-default pull-right" type="submit">Guardar</button>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>

<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:20px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="login-title"><span class="glyphicon glyphicon-lock"></span> INICIAR SESIÓN</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form" action="{% url 'landing:login' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="email"><span class="glyphicon glyphicon-user"></span> Email</label>
              {{login.email}}
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Contraseña</label>
              {{login.password}}
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="" checked>Remember me</label>
            </div>
              <button type="submit" class="btn btn-login btn-block"><span class="glyphicon glyphicon-log-in"></span> Iniciar</button>
          </form>
        </div>
        <!--div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <p>Not a member? <a href="#">Sign Up</a></p>
          <p>Forgot <a href="#">Password?</a></p>
        </div-->
      </div>
    </div>
  </div>
</div>

<!--login-->
<!--sign in-->
<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal_s" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:20px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="login-title"><span class="glyphicon glyphicon-lock"></span> CREAR CUENTA</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form" action="{% url 'landing:sign' %}" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="nombre"><span class="glyphicon glyphicon-user"></span> Nombre</label>
              {{sign.nombre}}
            </div>
            <div class="form-group">
              <label for="apellido_paterno"><span class="glyphicon glyphicon-user"></span> Apellido paterno</label>
              {{sign.apellido_paterno}}
            </div>
            <div class="form-group">
              <label for="email"><span class="glyphicon glyphicon-user"></span> Email</label>
              {{sign.email}}
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Contraseña</label>
              {{sign.password}}
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span>Confirma tu contraseña</label>
              {{sign.confirm_password}}
            </div>
              <button type="submit" class="btn btn-login btn-block"><span class="glyphicon glyphicon-list-alt"></span> Crear</button>
          </form>
        </div>
        <!--div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
          <p>Not a member? <a href="#">Sign Up</a></p>
          <p>Forgot <a href="#">Password?</a></p>
        </div-->
      </div>
    </div>
  </div>
</div>

<!--sign in-->
<script>
$(document).ready(function(){
    $("#myBtn").click(function(){
        $("#myModal").modal();
    });
    $("#myBtn_s").click(function(){
        $("#myModal_s").modal();
    });
});
</script>

{% endblock %}
